
@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:orangered;text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<h3 style="text-align:center">ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN, NHÂN VIÊN CỦA CHÚNG TÔI SẼ LIÊN LẠC VỚI QUÝ KHÁCH THÔNG QUA EMAIL SỚM NHẤT VÀ SẢN PHẨM SẼ ĐƯỢC GIAO CHẬM NHẤT LÀ SAU 2 NGÀY LIÊN LẠC</h3>
<h3 style="text-align:center">XIN CẢM ƠN QUÝ KHÁCH</h3>
<p style="text-align:center">@Html.ActionLink("VỀ TRANG CHỦ", "Index","Home")</p>
