

<!DOCTYPE html>
<html>

<body>
    <!--content-->
    <div class="contact">

        <div class="container">
            <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
            <div class="contact-form">

                <div class="col-md-8 contact-grid">
                    <form>
                        <input type="text" value="Tên" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Tên';}">

                        <input type="text" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
                        <input type="text" value="Chủ đề" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Chủ đề';}">

                        <textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Nội Dung';}">Nội Dung</textarea>
                        <div class="send">
                            <input type="submit" value="Gửi">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 contact-in">

                    <div class="address-more">
                        <h4>Địa chỉ</h4>
                        <p>AN STORE,</p>
                        <p>1 ĐIỂN BIÊN PHỦ,Q.BÌNH THẠNH</p>
                        <p>TP. HỒ CHÍ MINH.</p>
                    </div>
                    <div class="address-more">
                        <h4>LIÊN HỆ</h4>
                        <p>Tel:01203400444</p>
                        <p>Fax:696-696-696</p>
                        <p>Email:<a href="mailto:truongbabinhan@gmail.com"> truongbabinhan@gmail.com</a></p>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="map">
                
                <div style="width:1140px;max-width:100%;overflow:hidden;height:150px;color:red;"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Hutech+University,+Phường+25,+Hồ+Chí+Minh,+Việt+Nam&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code" rel="nofollow" href="https://www.interserver-coupons.com" id="grab-maps-authorization">https://www.interserver-coupons.com</a>
                <style>
                    #gmap-canvas img {
                        max-width: none !important;
                        background: none !important;
                    }
                </style></div>
                     <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=948d5d97-7d1c-9fac-b02f-1ab43bda5398&c=google-map-code&u=1477550450" defer="defer" async="async"></script>
            </div>
        </div>

    </div>
  
</body>
</html>
