
<!DOCTYPE html>
<html>

<body>

    <div class="banner">
        <div class="container">
            <script src="~/Scripts/responsiveslides.min.js"></script>
            <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>

                        <div class="banner-text">
                            <h3>SALE NÓN - ĐÓN HÈ  </h3>
                            <p>SALE NÓN 30K -CHƯƠNG TRÌNH ÁP DỤNG CHO KHÁCH HÀNG CÓ HÓA ĐƠN TRÊN 200K</p>
                            <a href="Blog">Tìm hiểu thêm</a>
                        </div>

                    </li>
                    <li>

                        <div class="banner-text">
                            <h3>SALE HAPPY DAY - THỨ 2 HÀNG TUẦN </h3>
                            <p>CHƯƠNG TRÌNH ÁP DỤNG CHO KHÁCH HÀNG LÀ THÀNH VIÊN HOẶC HÓA ĐƠN TRÊN 200K</p>
                            <a href="Blog">Tìm hiểu thêm</a>

                        </div>

                    </li>
                    <li>
                        <div class="banner-text">
                            <h3>TƯNG BỪNG KHAI TRƯƠNG CỬA HÀNG MỚI</h3>
                            <p>GIẢM 20% CHO TẤT CẢ CÁC SẢN PHẨM. NHANH CHÂN LÊN, SỐ LƯỢNG CÓ HẠN</p>
                            <a href="Blog">Tìm hiểu thêm</a>

                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content">
        <div class="container">
            <div class="content-top">
                <h1>SẢN PHẨM </h1>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="/Home/Products" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>ÁO THUN</span>
                                </h3>
                            </div>
                        </a>


                        <p><a href="single.html">ÁO THUN CHO HÈ MÁT MẺ</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi1.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>GIÀY</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html">SNEAKER CỰC CHẤT</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>BA-LÔ</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html">BA-LÔ SẮC MÀU</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>ÁO KHOÁC</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html">ÁO KHOÁC TRẺ TRUNG</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>QUẦN JEAN</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html">JEAN CÁ TÍNH</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="~/Content/Images/pi5.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>QUẦN SHORT</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="single.html">SHORT NĂNG ĐỘNG</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!----->

            
        </div>
        <!---->
        <div class="content-bottom">
            <ul>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo1.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo2.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo3.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo4.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo5.png" alt=""></a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
    <script>$(document).ready(function() {var raido = $(".wrap").attr("data-toggle");if(raido==1){$(".mnv-tuvan").css("display","none");$(".x").click(function(){$(".wrap").slideToggle();$(".mnv-tuvan").slideToggle();});$(".mnv-tuvan").click(function(){$(".wrap").slideToggle();$(this).slideToggle();}); }else{$(".wrap").css("display","none");$(".x").click(function(){$(".wrap").slideToggle();$(".mnv-tuvan").slideToggle();});$(".mnv-tuvan").click(function(){$(".wrap").slideToggle();$(this).slideToggle();});}}) (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=887080981367835";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "facebook-jssdk"));</script>
    <style>
        .wrap {
            position: fixed;
            width: 300px;
            height: 400px;
            z-index: 9999999;
            right: 0px;
            bottom: 0px;
        }

        .x {
            font-family: arial, helvetica;
            background: rgba(78,86,101,0.8) none repeat scroll 0 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -19px;
            width: 25px;
            z-index: 99999999;
        }

            .x:hover {
                cursor: pointer;
            }

        .pxem {
            text-align: left;
            height: 20px;
            margin-bottom: 0;
            margin-top: 0;
            background: #0088b5;
            width: 100%;
            bottom: 0;
            display: block;
            left: 0px;
            position: absolute;
            z-index: 999999999;
            border-left: 1px solid #fff;
        }

            .pxem a.axem {
                color: #fff;
                font-family: arial,helvetica;
                font-size: 12px;
                line-height: 23px;
                padding-left: 5px;
                text-decoration: none;
            }

                .pxem a.axem:hover {
                    text-decoration: underline;
                }

        .alogo {
            position: absolute;
            bottom: 0;
            right: 0px;
            z-index: 999999999999;
            width: 40px;
            height: 20px;
            display: inline-block;
            background: #0088b5;
            padding-right: 0px;
            padding-left: 5px;
        }

        .mnv-tuvan {
            position: fixed;
            width: 300px;
            background: #0088b5;
            z-index: 99999999;
            right: 0px;
            bottom: 0px;
            border-style: solid solid none;
            border-width: 1px 1px 0;
            border-color: #fff;
        }

            .mnv-tuvan p {
                color: #fff;
                font-size: 15px;
                margin: 0;
                padding: 0 13px;
                text-align: left;
            }

                .mnv-tuvan p a {
                    color: #fff;
                    font-size: 15px;
                    padding: 5px 0px 7px;
                    margin: 0;
                    display: inline-block;
                    font-family: arial, helvetica;
                    text-decoration: none;
                }

                    .mnv-tuvan p a:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                .mnv-tuvan p img {
                    float: right;
                    margin-top: 10px;
                }
    </style>



    <div id="fb-root"></div>

    <div data-toggle="1" class="wrap" style="position:fixed; width:250px; height: 325px;">
        <span class="x" style="">X</span>
        <div class="fb-page" data-adapt-container-width="true" data-height="325" data-hide-cover="false" data-href="https://www.facebook.com/AN-STORE-1256167774435694/" data-show-facepile="true" data-show-posts="false" data-small-header="false" data-tabs="messages" data-width="250" style="position:relative; z-index:9999999; right:0px; bottom:21px;border-left: 1px solid #fff;border-top: 1px solid #fff;"></div>
        <p class="pxem" style="background-color:orangered">
            <a class="axem" style="" href="https://www.facebook.com/AN-STORE-1256167774435694/" target="_blank">FANPAGE</a>
        </p>
    </div>
    <div class="mnv-tuvan" style="background-color:orangered ;width: 248px;"><p style="color:orange "><a style="">HELLO !!! HOW ARE YOU ???</a></p></div>
</body>
</html>
