
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Sign In :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/CssAdmin/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/CssAdmin/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/Content/CssAdmin/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/CssAdmin/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/Scripts/JqueryAdmin/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Content/CssAdmin/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/JqueryAdmin/wow.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="~/Scripts/JqueryAdmin/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>TRANG QUẢN LÝ</span> <a href="index.html">AN STORE</a></p>

                    </div>
                    <div class="signin">
                        <div class="signin-rit">
                            <h4 style="color:red;text-align:center"> @ViewBag.Thongbao </h4>
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Nhớ tài khoản ?</label>
                            </span>
                            
                            <div class="clearfix"> </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                        <form>
                            <div class="log-input">
                                @ViewData["Loi1"]
                                <div class="log-input-left">
                                    <input type="text" name="username" class="user" value="Tên đang nhập" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên đang nhập:';}" />
                                    
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input-left">
                                    <input type="password" name="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mật khẩu:';}" />
                                    
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            <input type="submit" value="Đăng nhập">
                        </form>
                        }
                    </div>
                    
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
            
        </footer>
        <!--footer section end-->
    </section>

    <script src="~/Scripts/JqueryAdmin/jquery.nicescroll.js"></script>
    <script src="~/Scripts/JqueryAdmin/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/JqueryAdmin/bootstrap.min.js"></script>
</body>
</html>
